---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url or '' }}/</loc>
  </url>
  {% for post in collections.posts %}
  <url>
    <loc>{{ site.url or '' }}{{ post.url }}</loc>
    <lastmod>{{ post.date | readableDate }}</lastmod>
  </url>
  {% endfor %}
</urlset>

